{% extends 'base.html' %}
<!-- Not having this here makes the interpreter mad -->
{% block title %}Client Home{% endblock %}
<!-- Not having this here makes the interpreter mad -->
<body>
 
    {% block content %}
<h2>Appendix B - Test and Package recommendation</h2>
<br>
<h3>Choosing Test vs Package</h3>

<p>You need to provide a set amount of sample per batches in order to order recommended tests <br>
    If you do not have enough sample to submit, you want to choose indivisual test of your choice.
</p>
<br>

<h3> Recommended Tests </h3>
<P>The recommended tests for your sample type are :<br>
    {{tests}}
    <!-- put recommeded test for each sample type when we get the detail -->
   
</P>
<br>
<h3> Recommended packages</h3>
<p> Recommednded packages depend on the amount of sample you can provide. You can choose recommended test package for your sample type. <br>
   <br>
    Available package: 
    <!-- put available package here when we know how many samples are required for the recommended packages --> 
    {{package}}
</p>
{% endblock %}   
<br>
</body>