{% extends 'base.html' %}
<!-- required to use crispy forms -->
{% load crispy_forms_tags %}
<!-- Sets title of the block -->
{% block title %}Login{% endblock %}
<!-- Denotes start of block content -->
{% block content %}
<body>
  <div class="container">
    <h2>Log In</h2>
    <form method="post" class="w-50">
      <!-- Init crispy bootstrap form -->
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary my-2">Log In</button>
      {% csrf_token %}
    </form>
  </div>
</body>
{% endblock %}
