{% extends 'base.html' %}
<!-- Required for each use of bootstrap in a template -->
{% load bootstrap5 %}
<!-- Sets title of the block -->
{% block title %}Login{% endblock %}
<!-- Denotes start of block content -->
{% block content %}
<body>
  <div class="container">
    <h2>Log In</h2>
    <form method="post" class="form w-50">
      {% csrf_token %}
      <!-- Init bootstrap form -->
      {% bootstrap_form form %}
      <!-- Init bootstrap buttons -->
      {% buttons %}
      <button type="submit" class="btn btn-primary">Log In</button>
      {% endbuttons %}
    </form>
  </div>
</body>
{% endblock %}
