{% load static %} {% load user_tags %} {% load bootstrap5 %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}LIMS Base Template{% endblock %}</title>
    <!-- load bootstrap css -->
    {% bootstrap_css %}
    <!-- load bootstrap javascript -->
    {% bootstrap_javascript %}
    <!-- Upgrade alerts -->
    {# Display django.contrib.messages as Bootstrap alerts #}
    <!-- Import bootstrap messages -->
    {% bootstrap_messages %}
  </head>
  <body>
    <main>
      <!-- TODO: Navbar content could be dynamic and pulled from database -->
      <nav
        class="navbar navbar-expand-lg navbar-light"
        style="background-color: #f3f2f1"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'accounts:home_page' %}">LIMS</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if user.is_staff %}
              <li class="nav-link">
                <a
                  class="nav-link"
                  href="{% url 'laboratory:lab_sample_list' %}"
                  >Sample List</a
                >
              </li>
              <li class="nav-link">
                <a
                  class="nav-link"
                  href="{% url 'laboratory:distribution' %}"
                  >Distribution</a
                >
              </li>
              <li class="nav-link">
                <a
                  class="nav-link"
                  href="{% url 'laboratory:order_list' %}"
                  >Order List</a
                >
              </li>
              <li class="nav-link">
                <a
                  class="nav-link"
                  href="{% url 'laboratory:read_barcode' %}"
                  >Scan Barcode</a
                >
              </li>
              {% endif %} {% if user.is_superuser %}
              <li class="nav-link">
                <a class="nav-link" href="{% url 'admin:index' %}"
                  >Administrator Dashboard</a
                >
              </li>
              {% elif user.is_staff %}
              <li class="nav-link">
                <a class="nav-link" href="{% url 'admin:index' %}"
                  >Employee Dashboard</a
                >
              </li>
              {% endif %} {% if request.user|has_group:"Clients" %}
              <li class="nav-link">
                <a class="nav-link" href="{% url 'orders:order_history' %}"
                  >Your Order History</a
                >
              </li>
              <li class="nav-link">
                <a class="nav-link" href="{% url 'orders:results' %}"
                  >Your Results</a
                >
              </li>
              <li class="nav-link">
                <a class="nav-link" href="{% url 'orders:shopping' %}"
                  >Order Tests</a
                >
              </li>
              {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <div>Hi <i>{{ user.first_name }}</i>!</div>
            <a href="{% url 'logout' %}" class="btn btn-outline-primary ms-2">
              Log Out</a
            >
            {% else %}
            <a href="{% url 'accounts:signup' %}" class="btn btn-primary"
              >Sign Up</a
            >
            <a href="{% url 'login' %}" class="btn btn-outline-primary ms-2"
              >Log In</a
            >
            {% endif %}
          </div>
        </div>
      </nav>
      {%block additionalStyles%}{%endblock%} {%block content%}{%endblock%}
    </main>
  </body>
</html>
