<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- I'm forced to comment everywhere because the HTML linter sucks -->
    <title>{% block title %}LIMS Base Template{% endblock %}</title>
    {% load bootstrap5 %}
    <!-- load bootstrap css -->
    {% bootstrap_css %}
    <!-- load bootstrap javascript -->
    {% bootstrap_javascript %}
    <!-- Upgrade alerts -->
    {# Display django.contrib.messages as Bootstrap alerts #}
    <!-- Import bootstrap messages -->
    {% bootstrap_messages %}
  </head>
  <body>
    <main>
      <!-- TODO: Should go into its own html file and imported into the template -->
      <!-- TODO: Navbar content could be dynamic and pulled from database -->
      <nav
        class="navbar navbar-expand-lg navbar-light"
        style="background-color: #f3f2f1"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="/">LIMS</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}"
                  >Administrator Dashboard</a
                >
              </li>
              {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <div>Hi {{ user.username }}!</div>
            <a href="{% url 'logout' %}" class="btn btn-outline-primary ms-2">
              Log Out</a
            >
            {% else %}
            <a href="{% url 'accounts:signup' %}" class="btn btn-primary"
              >Sign Up</a
            >
            <a href="{% url 'login' %}" class="btn btn-outline-primary ms-2"
              >Log In</a
            >
            {% endif %}
          </div>
        </div>
      </nav>
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
