{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %} 
{% block title %}LIMS Home{% endblock %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"/>
<body>
  {% block content %}
    <div class="container p-4">
      <h1>LIMS Home</h1>
      {% if user.is_authenticated %} Hi {{ user.first_name }}!
      <p><a href="{% url 'logout' %}">Log Out</a></p>
      {% else %}
      <p><i>You are not logged in</i></p>
      <section id = "main">
        <h2>Welcome to the LIMS home page</h2>
        <div class ="container p-4">
            <img src ="{% static 'image/images2.jpg' %}" alt ="Background image with Laboraroty theme" height = 500px width = 800px>
        </div>
      </section>
      {% endif %} 
  {% endblock %}
    </div>
</body>
