h1{
    padding: 1em 1em 0.1em 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 0.4em 3em;
}

tr:nth-child(odd){
    background: #f2f2f2;
}

th {
    padding: 0.2em 3em 1em;
}