{% extends 'base.html' %} {% load static %}
<!-- Not having this here makes the interpreter mad -->
{% block title %}Client Home{% endblock %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block additionalStyles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    {% endblock %}
  </head>
  <body>
    {% block content%}
    <div class="container">
      <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 fw-bold">Client Home</h1>
        <div class="overflow-hidden">
          <div class="container px-5">
            <img
              src="{% static 'image/client_homepage.jpg' %}"
              class="img-fluid border rounded-3 mb-4"
              alt="Example image"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
  </body>
</html>
