{% extends 'base.html' %}
<!-- Not having this here makes the interpreter mad -->
{% block title %}Client Home{% endblock %}
<!-- Not having this here makes the interpreter mad -->
<body>
    <h1>Order Hisotry</h1>
    {% block content %}
    {% if orders %}
        <table>
            <tr>
                <th>Order Number</th>
                <th>Account Number</th>
                <th>Submission Date</th>
            </tr>
                {% for order in orders %}
                <tr>
                    <td>{{order.order_number}}</td>
                    <td>{{order.submission_date}}</td>
                </tr>
                {% endfor %}
        </table>
    {% else %}
        <strong>There are no orders to show</strong>
    {% endif %}
    {% endblock %}
</body>