.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .search-wrapper {
    flex-direction: row;
    gap: 0.5rem;
    width: 50%;
  }
}

.sample-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 0.5rem;
  margin-top: 1rem;
}

.list-group-item {
  padding: 0.5rem;
}

.list-group-item a {
  color: green;
}

.list-group-item small {
  color: #7f8b9b;
}
