.sample-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 0.5rem;
  margin-top: 1rem;
}

.list-group-item {
  padding: 0.5rem;
  transition: all 0.2s ease;
}

.list-group-item:hover {
  transform: scale(1.2);
  z-index: 1;
  color: black;
}

.list-group-item small {
  color: #7f8b9b;
}
