/*links states to improve accesibility*/
a:visited{
  color: #1E3E42;
}
a:hover{
  color: #5C604E;
}
a:active {
  color: #8DB1AE
}
.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .search-wrapper {
    flex-direction: row;
    gap: 0.5rem;
    width: 50%;
  }
}
