{% extends 'base.html' %} 
{% load static %}
{% load bootstrap5 %} 
{% load admin_urls %}
{% block title %}Sample List{% endblock %}
{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'laboratory/css/distribution.css' %}" />
<script src="{% static 'laboratory/js/sample_list_search.js' %}" defer></script>
{% endblock %}
<body>
  {% block content %}
    <div class="container">
      {% if samples|length is 0 %}
      <p>No samples found</p>
      {% else %}
      <h1>Samples Ready for Distribution</h1> 
        <table>
          <tr>
            <th>Sample No.</th>
            <th>Sample Type</th>
            <th>Sample Form</th>
            <th>Test Code (Appendix-C)</th>
            <th>SOP No.</th>
            <th>Lab Personnel</th>
          </tr>
          {% for sample in samples %}
          {% comment %} samples = context = {'samples': sample_list} {% endcomment %}
            <tr>
              <td> <a href="{% url 'laboratory:view_sample' sample.0.id %}">{{ sample.1 }}</a></td>
              <td>{{ sample.0.sample_type }}</td>
              <td>{{ sample.0.sample_form }}</td>
              <td></td>
              <td>{{ sample.0.sop_number }}</td>
              <td> {{ sample.0.lab_personel }}</td>
            </tr>
          {% endfor %}
        </table>

      {% endif %}
      {% comment %} <div class="search-wrapper">
        <h1>Sample List</h1> 
        <button class="btn btn-success my-4" onclick="location.href='{% url 'admin:laboratoryOrders_sample_add' %}'">Add Sample</button>
        <input type="search" id="search" class="form-control" placeholder="Search" aria-label="Search">
        {% for sample in samples %}
        <ul class="list-group">
            <li class="list-group-item bg-light">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-1">Sample: {{ sample }}</h5>
                    
                  </div>
                  <p class="mb-1">Sample Type: {{ sample.sample_type }}</p>
                  <p class="mb-1">Sample Form: {{ sample.sample_form }}</p>
                  <p class="mb-1">SOP number: {{ sample.sop_number }}</p>
                  <small>Assigned worker: {{ sample.lab_personel }}</small><br>
                  <small>Last updated: {{ sample.updated_at }}</small><br>
                  <a href="{% url 'admin:laboratoryOrders_sample_change' sample.id %}"><small>Update info here</small></a>
            </li>
        </ul>
        {% endfor %} {% endcomment %}
    <div>
    {% endblock content %}
</body>