{% extends 'base.html' %}
<!-- required to use crispy forms -->
{% load crispy_forms_tags %}
<!-- Not having this here makes the interpreter mad -->
{% block title %}Distribute Sample{% endblock %}
<!-- Not having this here makes the interpreter mad -->
<body>
  {% block content%}
  <div class="container">
    <h1>Distribute Sample</h1>

    <p>ID: {{ sample.user_side_id }}</p>
    <p>Type: {{ sample.sample_type }}</p>
    <p>Form: {{ sample.sample_form }}</p>

    <form method="post">
        <p><strong>Select lab locations to create lab samples for:</strong></p>
        {% csrf_token %}
        {% for location in locations %}
          <input type='checkbox' value={{ location.code }} id='{{ location.code }}' name={{ location.name }} class="form-check-input"></input>
          <label for='{{location.code}}' class="form-check-label">{{location.name}}</label><br>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary">Create Lab Sample(s)</button>
    </form>

      
    <p>{{ message }}</p>
  {% endblock %}
  </div>
</body>