{% extends 'base.html' %} 
{% load static %}
{% load bootstrap5 %} 
{% load admin_urls %}
{% block title %}Order List{% endblock %}
{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'laboratory/css/sample_list.css' %}" />
<script src="{% static 'laboratory/js/sample_list_search.js' %}" defer></script>
{% endblock %}
<body>
  {% block content %}
    <div class="container">
      <h1>Order List</h1>
      <div class="search-wrapper">
        <input type="search" id="search" class="form-control" placeholder="Search orders" aria-label="Search">
      </div>
      {% if samples|length is 0 %}
      <p>No samples found</p>
      {% else %}
      <div class="sample-list">
        {% for sample in samples %}
        {% comment %} samples = context = {'samples': sample_list} {% endcomment %}
          <ul class="list-group">
            <a href="{% url 'laboratory:view_order' sample.id %}" class="list-group-item bg-light">
              <div class="d-flex justify-content-between">
                  <h5 class="mb-1">Order ID: <b>{{ sample.user_side_id }}</b></h5>
                </div>
                <p class="mb-1">Order Number: <b>{{ sample.order_number }}</b></p>
                <p class="mb-1">Company Name: <b>{{ sample.account_number.company_name }}</b></p>
                <p class="mb-1">Account Number: <b>{{ sample.account_number.id }}</b></p>
                <p class="mb-1">Submission Date: <b>{{ sample.submission_date }}</b></p>
              </a>
          </ul>
        {% endfor %}
      </div>
      {% endif %}
      {% comment %} <div class="search-wrapper">
        <h1>Sample List</h1> 
        <button class="btn btn-success my-4" onclick="location.href='{% url 'admin:laboratoryOrders_sample_add' %}'">Add Sample</button>
        <input type="search" id="search" class="form-control" placeholder="Search" aria-label="Search">
        {% for sample in samples %}
        <ul class="list-group">
            <li class="list-group-item bg-light">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-1">Sample: {{ sample }}</h5>
                    
                  </div>
                  <p class="mb-1">Order Number: {{ sample.order_number }}</p>
                  <p class="mb-1">Account Number: {{ sample.account_number.id }}</p>
                  <p class="mb-1">Submission Date: {{ sample.submission_date }}</p>
                  <a href="{% url 'laboratory:view_sample' sample.id %}">Get sample info here</a>
            </li>
        </ul>
        {% endfor %} {% endcomment %}
      <div>
    {% endblock content %}
</body>