{% extends 'base.html' %}
<!-- Not having this here makes the interpreter mad -->
{% block title %}Laboratory Home{% endblock %}
<!-- Not having this here makes the interpreter mad -->
<body>
  {% block content%}
  <div class="container">
    <h1>Barcode Home</h1>
    <p>Welcome to the LIMS home page.</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
         {{ form.as_p }}
        <button type="submit">Upload</button>
      </form>
      
      {% if img_obj %}
        <h3>Succesfully uploaded</h3>
        <img src="{{ img_obj.image.url }}" alt="connect" style="max-height:300px">\
        {% if type == 'S' %}
            <p><a href="{% url 'admin:laboratoryOrders_sample_change' id %}" >Barcode: {{ img_barcode }}</a></p>
        {% endif %}
      {% endif %}
  {% endblock %}
  </div>
</body>
