name: LIMS-CI-Container

on:
  push:
    branches: [ CI-action---docker-build ]
  pull_request:
    branches: [ CI-action---docker-build ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Create and populate .env file
      run: cd LIMS_IMAGE; touch .env; echo 'DB_NAME=lims_db' >> .env; echo 'DB_HOST=lims_db_server'>> .env; echo 'DB_USER=sa'>> .env; echo 'DB_PASSWORD=Lab_rats2021'>> .env; echo -n 'SECRET_KEY=' >> .env

    - name: Build the Docker image
      run: docker-compose -f LIMS_IMAGE/docker-compose.yml up -d --build

    - name: generate secret key and save to .env
      run: cd LIMS_IMAGE; python -c "import secrets; f = open('.env', 'a'); f.write(secrets.token_urlsafe()); f.close()"

    - name: Stop web server container
      run: docker stop lims_web_server

    - name: Restart container
      run: docker-compose -f LIMS_IMAGE/docker-compose.yml up -d --build

    - name: Running tests
      run: docker exec lims_web_server python manage.py test tests/
