name: LIMS-CI-Container

on:
  push:
    branches: [ CI-action---docker-build ]
  pull_request:
    branches: [ CI-action---docker-build ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        path: LIMS_IMAGE
    - name: Build the Docker image
      run: docker-compose up --build
    - name: Running tests
      run: sudo docker exec -it lims_web_server python manage.py test tests/
